<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME | UserDb</title>
    <style>
      * {
        background: #fd746c; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #ff9068,
          #fd746c
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #ff9068,
          #fd746c
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: "Balsamiq Sans", cursive;
      }
      .head {
        text-align: center;
        font-size: 30px;
      }
      .main {
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
      }
      .main * {
        margin-top: 50px;
      }
      a {
        text-decoration: none;
        font-size: 30px;
        font-weight: bolder;
        text-transform: uppercase;
        color: white;
        transition: 300ms;
      }
      a:hover {
        color: black;
        transition: 300ms;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="head">
      <h1>USER DB</h1>
    </div>
    <div class="main">
      <a href="/login">LOGIN</a>
      <a href="/register">Register</a>
    </div>
  </body>
</html>
