<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REGISTER | User DB</title>
    <style>
      * {
        background: #fd746c; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #ff9068,
          #fd746c
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #ff9068,
          #fd746c
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: "Balsamiq Sans", cursive;
      }
      .head {
        text-align: center;
        font-size: 30px;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input {
        border: none;
        background: white;
        margin-top: 20px;
        height: 30px;
        text-align: center;
        width: 30%;
      }
      button {
        margin-top: 30px;
        outline: none;
        border: none;
        height: 50px;
        width: 200px;
        background: gray;
        font-size: 30px;
        font-weight: bold;
        color: white;
        transition: 200ms;
      }
      button:hover {
        background: black;
      }
      @media screen and (max-width: 500px) {
        input {
          width: 80%;
        }
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="head">
      <h1>Register | User DB</h1>
    </div>
    <div class="main">
      <form action="register" method="POST">
        <input required type="text" name="name" placeholder="Enter your Name" />
        <input
          required
          type="text"
          name="college"
          placeholder="Enter College Name"
        />
        <input
          required
          type="number"
          min="1"
          max="5"
          name="year"
          placeholder="Enter Year"
        />
        <input required type="email" name="email" placeholder="Enter email" />
        <input
          minlength="6"
          required
          type="password"
          name="password"
          placeholder="Enter Password"
        />
        <button>SUBMIT</button>
      </form>
    </div>
  </body>
</html>
